@using TopLearn.Core.Services.interfaces
@model TopLearn.DataLayer.Entities.Order.Order
@inject IUserService _UserService
@{
    ViewData["Title"] = "فاکتور شما";
    int sumOrder = Model.OrderDetails.Sum(od => od.Price * od.Count);
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فاکتور شما </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <partial name="_SideBar" />
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتور شما </h1></header>
                        <div class="inner form-layer">
                            @if (ViewBag.finaly == true)
                            {
                                <div class="alert alert-success">
                                     با موفقیت پرداخت شد:)
                                </div>
                            }
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>دوره</th>
                                    <th>تعداد</th>
                                    <th>قیمت</th>
                                    <th>جمع</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <a href="/ShowCourse/@item.Course.CourseId" tabindex="_blank">@item.Course.CourseTitle</a>
                                        </td>
                                        <td>@item.Count</td>
                                        <td>@item.Price.ToString("#,0")</td>
                                        <td>@((item.Price * item.Count).ToString("#,0"))</td>
                                    </tr>
                                }
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <td colspan="3" class="text-left">کد تخفیف</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-9 ">
                                                    <input type="text" class="form-control"/>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary btn-block"> اعمال</button>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" class="text-left">جمع کل</td>
                                    <td> @sumOrder.ToString("#,0")</td>
                                </tr>
                                @if (!Model.IsFinaly)
                                {
                                    @if (_UserService.BalanceWallet(User.Identity.Name) >= sumOrder)
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <a class="btn btn-success btn-block" href="/UserPanel/MyOrder/FinalyOrder/@Model.OrderId">تایید فاکتور</a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <a class="btn btn-success btn-block" disabled href="">تایید فاکتور</a>
                                                <div class="alert alert-danger">
                                                    کیف پول شما کافی نمی باشد لطفا از طریق این
                                                    <a href="/UserPanel/Wallet" class="alert-link">لینک</a>
                                                    اقدام به شارژ کیف پول خود کنید
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>