<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]|تاپ لرن</title>
    @RenderSection("MetaTags", required:false)
    <partial name="_MetaTags" />
    <partial name="_Styles" />

    <script src="~/js/jquery.min.js"></script>
</head>
<body>
    <script src="~/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href=""> درباره ما </a>
                                <a href=""> تماس با ما </a>
                                <a asp-controller="Forum" asp-action="Index"> انجمن</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein ">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href="/UserPanel"> @User.Identity.Name  خوش آمدید </a>/
                                    <a asp-action="Logout" asp-controller="Account"> خروج </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin ">
                                    <i class="zmdi zmdi-account"></i>
                                    <a asp-action="Login" asp-controller="Account"> ورود </a> /
                                    <a asp-action="Register" asp-controller="Account"> عضویت </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox", required:false)
        </div>
    </div>

    <!-- main manu -->
    @await Component.InvokeAsync("CourseGroupComponent")
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- /footer -->

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
