@using TopLearn.Core.Convertors
@using TopLearn.Core.Services.interfaces
@using TopLearn.DataLayer.Entities.Course
@model TopLearn.DataLayer.Entities.Course.Course
@inject IOrderService _OrderService;
@{
    ViewData["Title"] = Model.CourseTitle;
    bool? notdemo = ViewBag.NotDemo as bool?;
    bool IsUserInCourse = false;
    if (User.Identity.IsAuthenticated)
    {
        IsUserInCourse = _OrderService.IsUserInCourse(User.Identity.Name, Model.CourseId);
    }

}

@section MetaTags
{
<meta name="robots" content="index, follow">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="شرح صفحه">
<meta property="og:site_name" value="خودآموز تاپ لرن">
<meta property="og:title" content="@Model.CourseTitle">
<meta property="og:url"
      content="https://toplearn.com/ShowCourse/@Model.CourseId">
<meta property="og:image" content="/images/course/image/@Model.CourseImageName">
<meta property="og:image:url" content="/images/course/image/@Model.CourseImageName">
<meta property="og:image:width" content="700">
<meta property="og:image:height" content="500">
<meta property="og:image:type" content="image/jpg">
<meta property="og:description" content="آموزش Asp.Net Core  پیشرفته">
<meta property="og:price:currency" content="IRR">
<meta property="og:locale" content="ir_FA">
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"> تاپ لرن </a></li>
            <li class="breadcrumb-item active"><a href="#"> دوره ها </a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Model.CourseTitle </li>
        </ul>
    </nav>
</div>

<div class="container">
    <section class="term-content">
        <header><h1> @Model.CourseTitle </h1></header>
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                <section class="term-description">
                    <img src="~/images/course/image/@Model.CourseImageName">

                    @Html.Raw(@Model.Description)
                    <div style="margin:10px">
                        @if (Model.DemoFileName != null && notdemo == true)
                        {
                            <video style="width:100%; height100%" controls="controls" poster="~/images/course/image/@Model.CourseImageName">
                                <source src="~/images/course/demoes/@Model.DemoFileName" type="video/mp4" />
                                <source src="~/images/course/demoes/@Model.DemoFileName" type="video/ogg" />
                                <source src="~/images/course/demoes/@Model.DemoFileName" type="video/webm" />
                            </video>
                        }
                    </div>
                    <div id="vote">
                    </div>
                    @if (!IsUserInCourse)
                    {
                        <div class="alert alert-info">
                            <p>بعد از ثبت نام در این دوره و تایید فاکتور لینک های دانلود برای شما فعال خواهند شد</p>
                        </div>
                    }
                    @if (ViewBag.episode != null)
                    {
                        CourseEpisode episode = ViewBag.episode as CourseEpisode;

                        <h2>@episode.EpisodeTitle</h2>
                        <video style="width:100%; height:100%" controls>
                            <source src="@ViewBag.filePath" />
                        </video>
                    }

                    <h2> سرفصل های این دوره : </h2>
                    <ul>
                        @foreach (var episode in Model.CourseEpisodes)
                        {
                            <li>
                                @if (episode.IsFree || IsUserInCourse)
                                {
                                    <h3>
                                        <a href="/DownloadFile/@episode.EpisodeId">
                                            @episode.EpisodeTitle
                                        </a>
                                    </h3>
                                    <a href="/DownloadFile/@episode.EpisodeId" class="download_btn"><i class="zmdi zmdi-download"></i></a>
                                }
                                else
                                {
                                    <h3>@episode.EpisodeTitle</h3>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (episode.IsFree || IsUserInCourse)
                                    {
                                        <a href="/ShowCourse/@Model.CourseId?episode=@episode.EpisodeId" class="download_btn"><i class="zmdi zmdi-play"></i></a>
                                    }
                                }
                                <i>@(episode.IsFree ? "رایگان" : "نقدی")</i>
                                <span>@episode.EpisodeTime </span>
                            </li>
                        }

                    </ul>
                </section>

                <section class="user-comments">
                    <header><h3> نظرات کاربران </h3></header>
                    <div class="inner">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Course" asp-action="CreateComment"
                              data-ajax="true"
                              data-ajax-method="post"
                              data-ajax-update="#listComment"
                              data-ajax-mode="replace"
                              data-ajax-success="Success">
                                <input type="hidden" name="comment.CourseId" value="@Model.CourseId" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="comment_Comment" name="comment.Comment" placeholder="متن نظر"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-success"> ثبت دیدگاه </button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                جهت درج نظر باید وارد سایت شوید
                            </div>
                        }

                        <div class="comment-list" id="listComment">
                        </div>
                    </div>
                </section>
            </div>

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="statistics">
                    <ul>
                        <li>
                            <span> مدت دوره </span>
                            @{
                                TimeSpan TotalTime = new TimeSpan(Model.CourseEpisodes.Sum(e => e.EpisodeTime.Ticks));
                            }
                            <i> @TotalTime </i>
                        </li>
                        <li>
                            <span> تعداد ویدیوها </span>
                            <i>@Model.CourseEpisodes.Count</i>
                        </li>
                        <li>
                            <span> تعداد دانشجوها </span>
                            <i> @Model.UserCourses.Count نفر </i>
                        </li>
                    </ul>
                    @if (Model.CoursePrice != 0 && !IsUserInCourse)
                    {
                        <a asp-controller="Course" asp-action="BuyCourse" asp-route-id="@Model.CourseId"> شرکت در دوره : @Model.CoursePrice.ToString("#,0") تومان </a>
                    }
                </div>

                <article class="teacher-info">
                    <img src="~/images/UserAvatar/@Model.User.UserAvatar">
                    <h2> مدرس :  @Model.User.UserName </h2>
                </article>

                <article class="term-info">
                    <h2> اطلاعات این دوره </h2>
                    <ul>
                        <li>سطح دوره: @Model.CourseLevel.LevelTitle</li>
                        <li>وضعیت دوره: @Model.CourseStatus.StatusTitle</li>
                        <li>قیمت : @(Model.CoursePrice != 0 ? @Model.CoursePrice.ToString("#,0"):"رایگان") تومان</li>
                        <li>تاریخ ثبت این دوره : @Model.CreateDate.ToShamsi()</li>
                        <li>آخرین بروزرسانی دوره : @Model.UpdateDate?.ToShamsi()</li>
                    </ul>
                </article>

                <div class="share-layer">
                    <span> به اشتراک گذاری </span>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://toplearn.com/ShowCourse/@Model.CourseId"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="https://twitter.com/intent/tweet?url=https://toplearn.com/ShowCourse/@Model.CourseId"><i class="zmdi zmdi-google-old"></i></a>
                    <a href=""><i class="zmdi zmdi-twitter"></i></a>
                    <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                </div>
                <div style="margin-bottom:10px;">
                    <a class="btn btn-block btn-info" asp-controller="Forum" asp-action="Index" asp-route-courseId="@Model.CourseId">پرسش و پاسخ </a>
                </div>
                @if (Model.Tags != null)
                {
                    <div class="tags-layer">
                        @foreach (var tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                        {
                            <a href="/Course?filter=@tag"> @tag </a>
                        }

                    </div>
                }

            </aside>
        </div>
    </section>
</div>
@section Scripts
{
<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function Success() {
        $("#comment_Comment").val("");
    }

    $(function() {
        $("#listComment").load("/Course/ShowComments/" + @Model.CourseId);
    });

    function pageComment(pageid) {
        $("#listComment").load("/Course/ShowComments/" + @Model.CourseId + "?pageId="+ pageid);
    }

    $(function() {
        $("#vote").load("/Course/CourseVote/"+@Model.CourseId);
    });

    function vote(vote) {
        $("#vote").fadeOut('slow');
        $("#vote").load("/Course/AddVote/"+@Model.CourseId+"?vote="+vote);
        $("#vote").fadeIn('slow');

    }
</script>
}
